NODE_ENV=development

CLIENT_ID=
DISCORD_TOKEN=
GUILD_ID=
ACTION_LOG_CHANNEL=

DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=

COOKIE_SECRET=